{% extends "demos/layout.html" %}

{% block body %}
<div>View all of a users flights logged within the database, as well as the capacity of that flight.<br>
Utilizes;
<ul>
    <li>One <code>VIEW</code></li>
    <li>One <code>JOIN</code></li>
    <li>One subquery</li>
    <li>One aggregation</li>
</ul>
</div>

<form id="flight_query">
    <div class="row mb-3">
        <label for="voter_id" class="col-sm-2 col-form-label">User ID</label>
        <div class="col-sm-10"><input type="text" name="id" /></div>
    </div>
    <button type="submit" id="execute" class="btn btn-primary">Query</button>
</form>

<div id="result"></div>

<script>
const res = document.getElementById("result");
document.getElementById("flight_query").addEventListener("submit", function (e) {
    e.preventDefault(); // stop the normal form submit
    const data = new FormData(e.target);
    console.log(Object.fromEntries(data));

    fetch("/flights/status", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(Object.fromEntries(data))
    }).then(r => r.text()).then(data => {
        res.innerHTML = data;
    }).catch(err => {
        console.error(err);
        res.innerHTML = "An error occurred while requesting flight data.";
    });
});
</script>

{{ super() }}
{% endblock %}
