{% extends "demos/layout.html" %}

{% block body %}
<div>
List a users rewards. Rewards are only listed if the user can afford to redeem them via their point count.<br>
Utilizes;
<ul>
    <li>Two <code>JOIN</code>'s</li>
</ul>
(try user ID 9... they have a lot of reward points :D)
</div>

<form id="reward_query">
    <div class="row mb-3">
        <label for="voter_id" class="col-sm-2 col-form-label">User ID</label>
        <div class="col-sm-10"><input type="text" name="id" /></div>
    </div>
    <button type="submit" id="execute" class="btn btn-primary">Query</button>
</form>

<div id="result"></div>
<script>
const res = document.getElementById("result");
document.getElementById("reward_query").addEventListener("submit", function (e) {
    e.preventDefault(); // stop the normal form submit
    const data = new FormData(e.target);
    console.log(Object.fromEntries(data));

    fetch("/users/rewards", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(Object.fromEntries(data))
    }).then(r => r.text()).then(data => {
        console.log(data);
        res.innerHTML = data;
    }).catch(err => {
        console.error(err);
        res.innerHTML = "An error occurred while listing user rewards.";
    });
});
</script>

{{ super() }}
{% endblock %}
