{% extends "demos/layout.html" %}

{% block body %}
<div>
View the info of all users; specifically their account information, as well as a count of specific rewards they have to redeem.<br>
Utilizes;
<ul>
    <li>One aggregation</li>
    <li>One <code>JOIN</code></li>
</ul>
</div>

<button id="execute" class="btn btn-primary">Execute</button>

<div id="result"></div>

<script>
const res = document.getElementById("result");
document.getElementById("execute").addEventListener("click", () => {
    fetch("/users/").then(r => r.text()).then(data => {
        console.log(data);
        res.innerHTML = data;
    });
});
</script>

{{ super() }}
{% endblock %}
