{% extends "demos/layout.html" %}

{% block body %}
<h1></h1>
<p>Purchase a ticket. Utilizes a procedure.</p>

<form id="purchase_tix" class="p-3">
  <div class="mb-3 col-3">
    <label for="userID" class="form-label">User ID</label>
    <input type="number" id="userID" name="user_id" class="form-control">
  </div>
  <div class="mb-3">
    <label for="ticket_dropdown" class="form-label">Select Ticket</label>
    <select id="ticket_dropdown" name="ticket_id" class="form-select">
      <option value="">Loading..!</option>
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div id="result"></div>

<script>
fetch("/tickets")
    .then(r => r.json())
    .then(data => {
        const dropdown = document.getElementById("ticket_dropdown");
        dropdown.innerHTML = "";
        for (const t in data) {
            ticket = data[t];
            const optgroup = document.createElement("optgroup"); // add a disabled label for each flight section
            optgroup.label = `Flight ${ticket.flightID}`;

            // a little hacky... :p
            [
                ["firstClassPrice", "First Class"],
                ["businessClassPrice", "Business Class"],
                ["economyPrice", "Economy"]
            ].forEach(k => {
                const price = ticket[k[0]]
                const option = document.createElement("option");
                option.value = `${ticket.ticketID},${ticket.flightID},${k[1]}`;
                option.textContent = `${k[1]} Ticket (\$${price})`;
                optgroup.appendChild(option);
            })
            dropdown.appendChild(optgroup);
        }
    });

const res = document.getElementById("result");
document.getElementById("purchase_tix").addEventListener("submit", (e) => {
    e.preventDefault(); // stop the normal form submit
    const data = new FormData(e.target);

    const fdata = Object.fromEntries(data); 
    const tix = fdata["ticket_id"].split(",");
    fetch("/ticket/purchase", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({
            userID: fdata["userID"],
            ticketID: tix[0],
            flightID: tix[1],
            class: tix[2]
        })
    }).then(r => r.json()).then(data => {
        console.log(data);
        res.innerText = JSON.stringify(data, null, 4);
    });
});
</script>

{{ super() }}
{% endblock %}
