{% extends "layout.html" %}

{% block body %}
<div>this is an example</div>

<button id="execute">Execute</button>

<div id="result"></div>

<script>
const sql = `
SELECT * FROM Users;
`;
const params = [];

const res = document.getElementById("result");
document.getElementById("execute").addEventListener("click", () => {
    fetch("/demo1/query", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({ sql, params })
    }).then(r => {
        r.json();
    }).then(data => {
        console.log(data);
        res.innerText = data;
    });
});
</script>
{% endblock %}
