{% extends "layout.html" %}

{% block body %}
<form id="signup">
    <div class="row mb-3">
        <label for="voter_id" class="col-sm-2 col-form-label">Name</label>
        <div class="col-sm-10"><input type="text" name="name" /></div>
    </div>
    <div class="row mb-3">
        <label for="voter_id" class="col-sm-2 col-form-label">E-mail</label>
        <div class="col-sm-10"><input type="text" name="email" /></div>
    </div>
    <div class="row mb-3">
        <label for="voter_id" class="col-sm-2 col-form-label">Password</label>
        <div class="col-sm-10"><input type="password" name="password" /></div>
    </div>
    <button type="submit" id="execute" class="btn btn-primary">Sign up</button>
</form>

<div id="msg"></div>

<script>
const res = document.getElementById("msg");
document.getElementById("signup").addEventListener("submit", function (e) {
    e.preventDefault(); // stop the normal form submit
    const data = new FormData(e.target);
    console.log(Object.fromEntries(data));

    fetch("/users/create", {
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify(Object.fromEntries(data))
    }).then(r => r.text()).then(data => {
        res.innerText = "Account created! Click back and login.";
    }).catch(err => {
        console.error(err);
        res.innerHTML = "An error occurred while signing up.";
    });
});
</script>

<a href="/">Back</a>
{% endblock %}
